<router-outlet></router-outlet>
<div class="container">


<app-stakedcharts></app-stakedcharts>

  <app-xychart></app-xychart>
  <app-sls></app-sls>
  <app-xygap></app-xygap>
  <app-nonstandaxis></app-nonstandaxis>
  <app-pipechart></app-pipechart>
  <h1>Users</h1>
  <app-fbl></app-fbl>
</div>
